@model PSTS6.Models.ViewModels.ProjectUserCreateViewModel

<div class="container-fluid">
    <h3>Add Members to the Project Team</h3>
    <div class="row">

        <div class="col-md-4">
            <ul id="usersList" class="list-group">
                @foreach (var item in Model.Users)
                {
                    <li id="@item.Id" class="list-group-item" onclick="">@item.UserName</li>
                }

            </ul>
        </div>
        <div class="col-md-1  align-self-center ">

            <button id="movebtn" class="btn btn-info"> < > </button>


        </div>

        <div class="col-md-4">
            <ul id="usersList2" class="list-group">
            </ul>
        </div>

    </div>
    <hr>
    <div class="row">

        <div class="col-md-1">
            <button class="btn btn-success">SUBMIT</button>
        </div>
    </div>
</div>
<script>
    // Add active class to the current button (highlight it)
    var header = document.getElementById("usersList");
    var listItems = header.getElementsByClassName("list-group-item");
    for (var i = 0; i < listItems.length; i++) {
        listItems[i].addEventListener("click", function () {
            var current = document.getElementsByClassName("active");
            if (current.length > 0) {
                current[0].className = current[0].className.replace(" active", "");
            }

            this.className += " active";
        });
    }
</script>
<script>

    document.addEventListener("DOMContentLoaded", function () {
        var selected = document.getElementsByClassName("active");
        var list1 = document.getElementById("usersList");
        var list2 = document.getElementById("usersList2");
        button = document.getElementById("movebtn");

        function moveItem() {
            var selected = document.getElementsByClassName("active");

            if (selected[0].parentElement == list1) {
                list2.appendChild(selected[0])
            } else {
                list1.appendChild(selected[0])
            }

        }
        button.addEventListener("click", moveItem)

    });
</script>