@model (UserDashboardViewModel, ManagerDashboardViewModel)
<h2>This is Admin Dashboard</h2>

<partial name="/Views/Shared/UserDashboard.cshtml" />
<partial name="/Views/Shared/ManagerDashboard.cshtml" />