@model ActivityEditViewModel

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>Activity</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Description" class="control-label"></label>
                <input asp-for="Description" class="form-control" />
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PrcCompleted" class="control-label"></label>
                <input asp-for="PrcCompleted" class="form-control" />
                <span asp-validation-for="PrcCompleted" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Budget" class="control-label"></label>
                <input asp-for="Budget" class="form-control" />
                <span asp-validation-for="Budget" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="StartDate" class="control-label"></label>
                <input asp-for="StartDate" class="form-control" />
                <span asp-validation-for="StartDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="EstimatedEndDate" class="control-label"></label>
                <input asp-for="EstimatedEndDate" class="form-control" />
                <span asp-validation-for="EstimatedEndDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ActualEndDate" class="control-label"></label>
                <input asp-for="ActualEndDate" class="form-control" />
                <span asp-validation-for="ActualEndDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Spent" class="control-label"></label>
                <input asp-for="Spent" class="form-control" />
                <span asp-validation-for="Spent" class="text-danger"></span>
            </div>
            <div class="form-group">

                @Html.LabelFor(x => Model.Owner, new { @class = "control-label" })
                @Html.DropDownListFor(x => Model.Owner, new SelectList(Model.AvailableOwners, "Value", "Text",Model.Owner)
               , new { @class = "form-control" })


                <span asp-validation-for="Owner" class="text-danger"></span>
            </div>
            <div class="form-group" hidden="hidden">
                <label asp-for="TaskID" class="control-label"></label>
                <input asp-for="TaskID" class="form-control" />
                <span asp-validation-for="TaskID" class="text-danger"></span>
            </div>
            <input type="hidden" asp-for="ID" />

            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>
<div class="table">



</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
